useDynLib(CRNA, .registration=TRUE)

export(crna.as)
export(crna.sl)
export(crna.tuning.as)
export(crna.tuning.sl)
export(CRNA.news)

import(stats)
import(utils)
import(parallel)
import(magrittr)
import(limma)
import(Matrix)
importFrom(igraph, simplify)
importFrom(igraph, delete_vertices)
importFrom(igraph, E)
importFrom(igraph, V)
importFrom(igraph, graph_from_data_frame)
importFrom(igraph, induced_subgraph)
importFrom(igraph, induced.subgraph)
importFrom(igraph, vcount)
importFrom(igraph, neighbors)
importFrom(igraph, get.edge.ids)
importFrom(igraph, subgraph.edges)
importFrom(igraph, degree)
importFrom(igraph, "E<-")
importFrom(igraph, "V<-")
importFrom(Rcpp, evalCpp)

exportPattern("^[[:alpha:]]+")
